html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20.5px;
    color: black;
    background-color: white;
}

footer {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: whitesmoke;
    margin-top: 30px;
}

.head_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    background-color: whitesmoke;
}

#head-name {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    margin: 10px;
}

#foot-name {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.head_item {
    flex: 1;
    flex-wrap: wrap;
}

.flex_container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
}

.flex_item {
    flex:1;
    flex-wrap: wrap;
}

.nav_item {
    color: black;
    background-color: lightskyblue;
    font-size: 22.5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    margin: 3px;
}

.current {
    background-color: white;
}

a:link, a:visited {
    text-decoration: underline;
    color: lightskyblue;
}

.nav_item a:link, .nav_item a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: red;
}

.nav_item a:hover, .nav_item:hover {
    text-decoration: underline;
    color: lightskyblue;
    background-color: white;
    font-size: 30px;
}

h1 {
    display: block;
    text-align: center;
    margin: 25px auto;
    font-size: 30px;
}

p {
    display: block;
    text-align: center;
    margin: 20px 30px 30px 30px;
    margin-left: 350px;
    margin-right: 350px;
}

footer p {
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

footer ul {
    font-size: 18px;
    display: table;
    margin: 0 auto;
    margin-bottom: 15px;
}

hr {
    margin-left: 300px;
    margin-right: 300px;
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px; 
    height: auto; 
}

#resume-pic {
    border: 2px solid black;
    display: block;
    margin: auto;
    width: 50%;
}

#contact-methods {
    display: table;
    text-align: left;
    margin: 40px auto;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid black;
    background-color: whitesmoke;
}

#contact-methods li {
    padding: 5px;
}

.section {
    margin-left: 15px;
    margin-right: 15px;
}

.flex_containerQuestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex_question {
    margin: 15px 100px;
    padding: 15px 60px;
}

.question {
    text-decoration: underline;
    margin: 10px;
}

.questionnaire {
    width: auto;
    display: table;
    margin: 3px auto;
}

.questionnaire td {
    padding-left: 25px;
    padding-right: 25px;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#guessNum {
    width: 50%;
    margin: 0 auto;
}

#guessNum p {
    width: 100%;
    margin: 20px auto;
}

.guessForm {
    display: block;
    text-align: center;
    margin: 30px auto;
}

.divider {
    width: 90%;
    margin: 0 auto;
}

#bigN {
    display: block;
    margin: auto;
}

#kyw {
    width: 1200px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
    border-radius: 10px;
}

#wellpage {
    width: 840px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
    border-radius: 10px;
}

#wellinfo {
    width: 700px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
    border-radius: 10px;
}

#websiteHome {
    width: 900px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
    border-radius: 10px;
}

#robotPhoto {
    width: 400px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
    border-radius: 10px;
}

#robotVideo {
    width: 300px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
    border-radius: 10px;
}

.playnow {
    margin-bottom: 5px;
}

#numGame_pic {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 1px solid black;
    width: 750px;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px darkblue;
    border: 2px solid blue;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game--title {
    font-size: 100px;
    color: lightskyblue;
    margin: 10px auto;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: whitesmoke;
    color: lightskyblue;
}

.game--status {
    font-size: 50px;
    color: lightskyblue;
    margin: 20px auto;
}

.game--restart {
    background-color: lightblue;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: white;
    box-shadow: 2px 2px 2px 2px blue;
    border: 2px solid blue;
}

#ticTacGame {
    margin: 30px;
}

#ticTac_pic {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 1px solid black;
    width: 400px;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("./resources/mole.jpg");
	background-size: cover;
}

#centerMoleGame {
    margin: 40px auto;
    margin-left: 650px;
    margin-right: 650px;
    font-size: medium;
}

#moleGame_pic {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 450px;
}

@media screen and (max-width: 950px) {
    .head_container {
        flex-direction: column;
    }

    body {
        font-size: 15px;
    }

    p {
        margin: 40px;
    }

    footer p {
        font-size: 15px;
    }
    
    footer ul {
        font-size: 15px;
    }

    hr {
        margin-left: 100px;
        margin-right: 100px;
    }

    .flex_question {
        margin: 5px 10px;
        padding: 5px 10px;
    }

    .questionnaire td {
        padding-left: 5px;
        padding-right: 5px;
    }

    #bigN {
        display: block;
        margin: auto;
        width: 800px;
    }

    #head-name {
        font-size: 35px;
    }

    #foot-name {
        font-size: 25px;
    }

    #headshot {
        width: 200px;
    }

    #kyw {
        width: 700px;
    }
    
    #wellpage {
        width: 420px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #wellinfo {
        width: 350px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #websiteHome {
        width: 500px;
    }

    #robotPhoto {
        width: 300px;
        margin: 10px auto;
        border: 3px solid black;
        border-radius: 10px;
    }
    
    #robotVideo {
        width: 225px;
        margin: 10px auto;
        border: 3px solid black;
        border-radius: 10px;
    }

    .playnow {
        margin-bottom: 40px;
    }

    #numGame_pic {
        display: none;
    }

    #ticTac_pic {
        display: none;
    }

    #moleGame_pic {
        display: none;
    }

    #centerMoleGame {
        margin: 5px auto;
        font-size: medium;
    }
}

@media screen and (max-width: 650px) {
    .head_container {
        flex-direction: column;
    }

    .flex_container {
        flex-direction: column;
    }

    body {
        font-size: 12px;
    }

    p {
        margin: 40px;
    }

    footer p {
        font-size: 12px;
    }
    
    footer ul {
        font-size: 12px;
    }

    hr {
        margin-left: 50px;
        margin-right: 50px;
    }

    .flex_question {
        margin: 5px 10px;
        padding: 5px 10px;
    }

    .questionnaire td {
        padding-left: 5px;
        padding-right: 5px;
    }

    #bigN {
        display: block;
        margin: auto;
        width: 400px;
    }

    #head-name {
        font-size: 25px;
    }

    #foot-name {
        display: none;
    }

    #resume-pic {
        width: 40%;
    }

    #headshot {
        display: none;
    }

    #kyw {
        display: none;
    }
    
    #wellpage {
        display: none;
    }
    
    #wellinfo {
        display: none;
    }
    
    #websiteHome {
        display: none;
    }

    #robotPhoto {
        display: none;
    }
    
    #robotVideo {
        display: none;
    }

    .playnow {
        margin-bottom: 40px;
    }

    #numGame_pic {
        display: none;
    }

    #ticTac_pic {
        display: none;
    }

    #moleGame_pic {
        display: none;
    }

    #centerMoleGame {
        margin: 5px auto;
        font-size: medium;
    }
}